[submodule "ephratria-autenticacao"]
	path = ephratria-autenticacao
	url = git@github.com:pedrofreitaslima/ephratria-autenticacao.git
[submodule "ephratria-catalogo"]
	path = ephratria-catalogo
	url = git@github.com:pedrofreitaslima/ephratria-catalogo.git
[submodule "ephratria-financeiro"]
	path = ephratria-financeiro
	url = git@github.com:pedrofreitaslima/ephratria-financeiro.git
